html{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding-top: 6rem;
    font-size: 75px;
    font-weight: 900;
}
h2{
    padding: 4rem 0;
    font-size: 40px;
}
h3{
    font-size: 25px;
    padding: 1rem 0;
}
.pd-t10{
    padding-top:10rem;
}
.pd-t1-b2{
    padding: 1rem 2rem;
}
.mg-b5{
    margin-bottom: 5rem;
}
.mg-r5{
    margin-right: 5rem;
}
.pd-t2-b2{
    padding: 2rem 0;
}
.mg-t3-b3{
    margin: 3rem 0;
}
.mg-t5-b1{
    margin-top:5rem;
    margin-bottom: 1rem;
}
input, i{
    display: inline-block;
    margin-right: .5rem;
}
p{
    padding: 2rem 0;
    line-height: 22px;
}
hr{
    color: var(--color-border);
    margin: 3rem 0;
    width: 25%;
}
strong{
    display: block;
}

.base-list{
    width: 100%;
    padding:  .5rem;
    list-style: none;
}
li{
    padding: 0 1rem;
}
a{   
    padding: .2rem 0;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;

}

button{
    display: block;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: var(--color-primary-blue);
    border: none;
    color: white;
}
button:hover{
    background-color: var(--color-hover-primary-blue);
    cursor: pointer;
}