:root{
    --color-primary-button:#0061FF;
    --color-primary:#B4D0E7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 70px;
    font-weight: 900;
}
ul{
    width: 100%;
    padding:  .5rem;
    list-style: none;
}
li{
    padding: 0 1rem;
}
a{   
    padding: .2rem 0;
    text-decoration: none;
    color: black;
}

button{
    display: block;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: var(--color-primary-button);
    border: none;
    color: white;
}
button:hover{
    cursor: pointer;
}
i{
    font-size: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}
.nav-left img{
    display: block;
    object-fit: contain;
}
.nav-left ul, .nav-right ul{
    display: flex;
}
.nav-left, .nav-right{
    display: flex;
    
}
header{
    background-color: #B4D0E7;
}
.container{
    width: 1200px;
    margin:auto
}
.hero-section{
    padding: 4rem 0;
}