:root {
    --color-primary-blue: #0061FF;
    --color-hover-primary-blue: #4783f3;
    --color-primary: #B2CFE5;
    --color-border: lightgrey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-content i {
    font-size: 50px;
    padding-top: 5rem;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

img {
    display: block;
    object-fit: contain;
    width: 100%;
    
}

.nav-left ul,
.nav-right ul {
    display: flex;
}

.nav-left,
.nav-right {
    display: flex;

}

header {
    background-color: var(--color-primary);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.hero-section {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.hero-content {
    display: flex;    
}

.hero-content div {
    width: 30%;
}

.hero-content button {
    padding: .8rem;
}

.hero-content div:last-child {
    flex-grow: 1;
    position: relative;

    
}
.hero-content img{
    position: absolute;     
    bottom: -20%;
    height: calc(100% + 20%);   
    object-position: bottom;
}

main {
    margin-top: 5rem;
}

.section-container {
    max-width: 1000px;
}

.container-sub, .container-info, .container-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem;
}

.container-col {
    width: 31%;
}

.subscription-icon,
.subscription {
    max-width: 100%;
    border: 1px solid var(--color-border);
}

.subscription-icon {
    text-align: center;
    padding: .5rem;
}

.subscription { 
    height:calc(100% - 40px);
    margin-bottom: 2rem; 
}

.subscription p {   
    padding: .5rem 0;
}

.subscription>span {
    display: block;
    padding: 1rem 0;
}
.subscription button {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}
.description li, .check li{
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

.description i, .check i {
    display: inline-block;
}

.blue-link {
    color: var(--color-primary-blue);
    text-decoration: underline;
}

.blue-link:hover {
    text-decoration: none;
}
.container-sub .container-col:last-child {
    width: 100%;
}

.container-sub .container-col:last-child .subscription {
    height: calc(100% - 80px);
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.container-sub .container-col:last-child button {
    width: 40%;
    margin: auto;
    margin-top: 0;
}

.container-sub .container-col:last-child p {
    padding-top: 5rem;
}

.partner {
    display: flex;
}

.partner img {
    width: 60%;
}
.description-partner{
    padding: 3rem;
}
.partner button{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.banner-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}
.box-banner{
    display: flex;
    flex-wrap: wrap;
    width: 30%; 
    height: 60vh;
}
.banner{
    display: flex;
    width: 50%;
    max-height: 60vh;
    justify-content: center;
    align-items: center; 
}
.banner img{
    width: 125px;
}
.banner-info{
    padding: 2rem;
    overflow: auto;
    background-color: #F5F5F5;
    width: 40%;
    max-height: 60vh

}
.banner-info img{
    filter: brightness(0);
    width: 250px;
}


.green{
    border: .8rem solid #D1E9CD;
    background-color: #A2D39B;
}
.red-wine{
    background-color: #61082B;
}
.blue{
    background-color: #0093CE;
}
.red-light{
    background-color:#FF1C1C ;
}
.red{
    background-color: #D5001F;
}
.blue-light{
    background-color: #B4D0E7;
}
.blue-dark{
    background-color: #0D2481;
}
.yellow{
    background-color: #FFD830;
}
.dark{
    background-color: black;
}

.free-trial{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}
.free-trial h2{
    color:#61082B;
    width: 40%;
    padding: 8rem 0;

}
.free-trial button{
    width: 20%;
    height: 3rem;
    margin-top: -25px;
    color: black;
    background-color: white;
}

.qea div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-collapse:collapse;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}
.qea div:last-child{
    margin-bottom:8rem ;
}
.qea span{
    margin-right: 1rem;
}
footer{
    color: white;
}
.container-footer{
    padding-top:2rem;
}
.container-col-small{
    width: 15%;
    margin: 0 1rem;
    padding: 2rem 0;
    gap: 1rem;
}
.container-col-small ul{
    padding: .5rem 0;
}
.container-col-small li{
    padding: .5rem 0;
}
.container:last-child hr{
    width: 10%;
}
.lang{
    padding-bottom:2rem ;
}
.lang span:last-child{
    padding: 0 .5rem;
}
