:root{
    --color-primary-button:#0061FF;
    --color-hover-primary-button:#4783f3;
    --color-primary:#B4D0E7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-content i{
    font-size: 50px;
    padding-top: 5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}
img{
    display: block;
    object-fit: contain;
    width: 100%;
    padding-top: .2rem;
}
.nav-left ul, .nav-right ul{
    display: flex;
}
.nav-left, .nav-right{
    display: flex;
    
}
header{
    background-color: var(--color-primary);
}
.container{
    max-width: 1200px;
    margin:auto;
}
.hero-section{
    padding-top:4rem;
    padding-bottom: 1rem; 
}
.hero-content{
    display: flex;
    padding-top: 2rem;
    position: relative;
    
}
.hero-content div{
    width: 30%;
}
.hero-content button{
    padding: .8rem;
}
.hero-content div:last-child{
    position: absolute;
    width: 75%;
    top: 13%;
    left: 30%;
}

main{
    margin-top: 5rem;
}

.section-container{
    max-width: 1000px;   
}
.container-sub{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}
.container-col{
    width: 31%;
    
}

.subscription-icon, .subscription{
    max-width: 100%;
    border: 1px solid lightgrey;
}
.subscription-icon{
    text-align: center;
    padding: .5rem;
}
.subscription{
    height: 100%;
    padding: 1rem 2rem;
}
.subscription p{
    padding: .5rem 0;
}
.subscription > span{
    display: block;
    padding: 1rem 0;
}
.description li{
    width: 100%;
    padding: 1rem 0;
}
.description span{
    margin:0;
}
.subscription button{
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}
.subscription a{
    color: var(--color-primary-button);
    text-decoration: underline;
}
.subscription a:hover{
    text-decoration: none;
}
.container-col:last-child{
    margin-top: 5rem;
    width: 100%;

}
.container-col:last-child .subscription{
    padding-top: 2rem;
    display: flex;
}
.container-col:last-child button{
    width: 40%;
    margin: auto;
    margin-top: 0;
}
.container-col:last-child p{
    padding-top: 5rem;
}
