:root {
    --color-primary-blue: #0061FF;
    --color-hover-primary-blue: #4783f3;
    --color-primary: #B2CFE5;
    --color-border: lightgrey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------navigation bar----------------- */
nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}


.nav-left ul,
.nav-right ul,
.nav-left,
.nav-right {
    display: flex;
}

/* --------------header------------------ */
header {
    background-color: var(--color-primary);
}

/* ----------------------container maggiore----------------------- */
.container {
    max-width: 1200px;
    margin: auto;
}

/* -------------Hero section-----------------  */
.hero-section {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.hero-content {
    display: flex;
}
.hero-content i {
    font-size: 50px;
    padding-top: 5rem;
}

.hero-content div {
    width: 30%;
}

.hero-content button {
    padding: .8rem;
}

.hero-content div:last-child {
    flex-grow: 1;
    position: relative;


}

.hero-content img {
    position: absolute;
    bottom: -20%;
    height: calc(100% + 20%);
    object-position: bottom;
}

/* ---------container principali--------------- */
.section-container {
    max-width: 1000px;
}

.container-sub,
.container-info,
.container-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem;
}

/* -----------colonne Sottoscrizioni-------------- */
.container-col {
    width: 31%;
}

/*------------descrizioni sottoscrizioni-------------------*/
.subscription-icon,
.subscription {
    max-width: 100%;
    border: 1px solid var(--color-border);
}

.subscription-icon {
    text-align: center;
    padding: .5rem;
}

.subscription {
    height: calc(100% - 40px);
    margin-bottom: 2rem;
}

.subscription p {
    padding: .5rem 0;
}

.subscription>span {
    display: block;
    padding: 1rem 0;
}

.subscription button {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}

.description li,
.check li {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

.description i,
.check i {
    display: inline-block;
}

.blue-link {
    color: var(--color-primary-blue);
    text-decoration: underline;
}

.blue-link:hover {
    text-decoration: none;
}

/* ---------------ultima colonna sottoscrizione --------------- */
.container-sub .container-col:last-child {
    width: 100%;
}

.container-sub .container-col:last-child .subscription {
    height: calc(100% - 80px);
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.container-sub .container-col:last-child button {
    width: 40%;
    margin: auto;
    margin-top: 0;
}

.container-sub .container-col:last-child p {
    padding-top: 5rem;
}

/* ---------------partner container------------------ */
.partner {
    display: flex;
}

.partner img {
    width: 60%;
}

.description-partner {
    padding: 3rem;
}

.partner button {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.bt-hover-white:hover{
    background-color: var(--color-hover-primary-blue);
    color: white;
}

/* -------------banner section-------------- */
.banner-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box-banner {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.banner {
    display: flex;
    width: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 50%;
}

.banner-info {
    display: block;
    padding: 3rem;
    overflow: auto;
    background-color: #F5F5F5;
}

.banner-info h2 {
    font-size: 60px;
    padding-bottom: 2rem;
}

.banner-info img {
    filter: brightness(0);
    width: 50%;
}
/* ----------section banner_hover ----------- */
.banner-info-hover {
    display: none;
    position: absolute;
    width: calc(100% / 3);
    top: 0;
    left: calc(100% / 3);
    height: 100%;
}

.b-hover:hover .banner-info-hover {
    display: block;
}

/*------------ banner color------------ */
.b-hover:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.301);
}

.green {
    border: 1rem solid transparent;
    background-color: #A2D39B;
}


.red-wine {
    border: 1rem solid transparent;
    background-color: #61082B;
}

.blue {
    border: 1rem solid transparent;
    background-color: #0093CE;
}

.red-light {
    border: 1rem solid transparent;
    background-color: #FF1C1C;
}

.red {
    border: 1rem solid transparent;
    background-color: #D5001F;
}

.blue-light {
    border: 1rem solid transparent;
    background-color: #B4D0E7;
}

.blue-dark {
    border: 1rem solid transparent;
    background-color: #0D2481;
}

.yellow {
    border: 1rem solid transparent;
    background-color: #FFD830;
}

.dark {
    background-color: black;
}
/* ------------Free trial section----------------- */
.free-trial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.free-trial h2 {
    color: #61082B;
    width: 40%;
    padding: 8rem 0;

}

.free-trial button {
    width: 20%;
    height: 3rem;
    margin-top: -25px;
    color: black;
    background-color: white;
}
/* -----------Q&A section------------------ */
.qea {
    margin-bottom: 8rem;
}

.qea-container {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
}

.qea-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-collapse: collapse;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.qea i {
    padding: 1rem 2rem;
    cursor: pointer;
}
/* ---------hover Q&A---------- */
.qea-hover {
    display: none;
    justify-content: space-between;
    align-items: center;
    color: var(--color-hover-primary-blue);
}
.arrow-up {
    display: none;
}

.qea-row:hover .qea-hover,
.qea-row:hover .arrow-up {
    display: block;
}

.qea-row:hover .arrow-down {
    display: none;
}


/* -------------footer section------------------ */
footer {
    color: white;
}

.container-footer {
    padding-top: 3rem;
}

.container-col-small {
    width: 15%;
    margin: 0 1rem;
    padding: 2rem 0;
    gap: 1rem;
}

.container-col-small ul, .container-col-small li {
    padding: .5rem 0;
}

.container:last-child hr {
    width: 10%;
}

.lang {
    display: flex;
    padding-bottom: 2rem;
}

.lang span:last-child {
    display: flex;
    align-self: flex-end;
    padding: 0 .5rem;
}